{
    "kiosk": [
        {
            "name": "Lane 1",
            "serverAddress": "172.16.4.71",
            "JWSkioskPort":  1070,
            "JWSkioskAddress": "172.16.4.81",
            "keypadEnabled": false
        },
        {
            "name": "Lane 2",
            "serverAddress": "172.16.4.72",
            "JWSkioskPort":  1070,
            "JWSkioskAddress": "172.16.4.82",
            "keypadEnabled": false
        }
    ],
    "messages": {
        "welcome": "SWIPE CARD",
        "swipeCard": "PLEASE WAIT...",
        "goToLaneNull": "Wrong lane. Go to:",
        "needToCheckIn": "Please Check In First"
    },
    "displayTimeout": "20",
    "reconnectTimeout": "10"
}