doctype html
html
  head
    title= title
    link(rel='icon', type='image/png', href='/favicon.png')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/bootstrap.min.js")
    script(src="/socket.io/socket.io.js")
  body
    block content
